
:root {
  --cream:  #FEF0EA;
  --peach: #EAD0C2;
  --blush: #DDB7B1; 
  --pinkclay: #A9807D;
  --greenteal: #35575F;
  --blackgray: #2d2d2c;

}

* {font-family: filson-pro,sans-serif; }

.cream-text {color: var(--cream); }
.peach-text {color: var(--peach)}
.blush-text {color: var(--blush)}
.pinkclay-text {color: var(--pinkclay); font-family: filson-pro,sans-serif;}
.greenteal-text {color: var(--greenteal)}
.black-text {color: var(--blackgray)}

body {background: var(--peach);  padding: 0px; margin: 0; max-width: 100vw; overflow-x: hidden;}
header {margin: 25px;}
main {min-height: 100%; padding-bottom: 25px;}


.logo-container a {color: var(--pinkclay); margin: 0px 15px; text-decoration: none; font-size: 18px; font-family: filson-pro,sans-serif;}

.active-link {text-decoration: underline!important;}
.submit-button {border-color: unset!important;}
.mobile-logo-container-section {color: var(--pinkclay)}
.mobile-logo-container-section a {color: var(--pinkclay); margin: 0px 15px; text-decoration: none; font-size: 18px; font-family: filson-pro,sans-serif;}
.mobile-logo-container {display: none;}
#contact-button {padding: 25px 50px; background-color: var(--greenteal); text-decoration: none;}
#contact-button:hover {background-color: #518490; font-weight: 700;}
#logo {width: 100%; height: auto; max-width: 250px;}

#message-button {padding: 10px 25px; }

section {padding: 0px 15px}

h1 {font-size: 36px; font-family: filson-pro,sans-serif; font-weight: 700; font-style: normal;}
h1 i {font-size: 36px; font-family: filson-pro,sans-serif; font-weight: 700; font-style: italic;}

h2 {font-size: 24px; font-family: filson-pro, sans-serif; font-weight: 700; font-style: normal;}
h2 i {font-size: 24px; font-family: filson-pro, sans-serif; font-weight: 700; font-style: italic;}

h3 {font-size: 18px; font-family: filson-pro, sans-serif; font-weight: 400; font-style: normal;}


p {font-size: 16px; font-family: filson-pro, sans-serif; font-weight: 400; font-style: normal;}
ul {margin: 0; padding: 0;}

.flex-center-center {display: flex; align-items: center; justify-content: center;}
.flex-center-spaceevenly {display: flex; align-items: center; justify-content: space-evenly;}
.flex-center-end {display: flex; align-items: center; justify-content: flex-end;}
.flex-center-start {display: flex; align-items: center; justify-content: flex-start;}
.flex-wrap {flex-wrap: wrap;}
.flex-column {flex-direction: column;}
.centered {text-align: center!important;}


.event-prep ul {display: flex; align-items: center; justify-content: center; flex-wrap: wrap;}
.event-prep ul li {background-color:var(--pinkclay); list-style-type: none; flex: 1 1 120px; height: 120px; max-width: 120px; margin: 5px; display: flex; align-items: center; justify-content: center; padding: 15px;}

.hover:hover {transform: scale(1.01); cursor: pointer;}

li:hover {transform: scale(1.1)}
.event-assistance ul {display: flex; align-items: center; justify-content: center; flex-wrap: wrap;}
.event-assistance ul li {background-color:#ddb7b1; list-style-type: none; flex: 1 1 120px; height: 120px; max-width: 120px; margin: 5px; display: flex; align-items: center; justify-content: center; padding: 15px;}

.branding ul {display: flex; align-items: center; justify-content: center; flex-wrap: wrap;}
.service { list-style-type: none; flex: 1 1 120px; height: 120px; max-width: 120px; margin: 5px; display: flex; align-items: center; justify-content: center; padding: 15px;}
.section1-grid .service {color: var(--blackgray); background: var(--cream)}
.section2-grid .service {color: var(--blackgray); background: var(--blush)}
.section3-grid .service {color: white; background-color: var(--pinkclay);}
.section4-grid .service {color: var(--blackgray); background-color: var(--cream);}

.header-banner {background: var(--greenteal); padding: 15px 25px; color: var(--cream)}

form h3 {font-weight: 700;}
.review {margin: 25px 15px;}

.review-left {background: var(--cream); padding: 25px; border-radius: 10px; }
.review-right {background: var(--cream); padding: 25px; border-radius: 10px;  text-align: right;}
.reviewer {text-decoration: none; color: var(--blackgray); font-style: italic; font-weight: 600;}
footer {background: var(--greenteal); padding: 25px; }

input { padding: 5px 10px; font-family: filson-pro, sans-serif;}
@media only screen and (max-width: 600px) {
    .logo-container {display: none;}
    .mobile-logo-container {display: block;}
    .section1-grid, .section2-grid, .section3-grid, .section4-grid {display: block;}
    .service {max-width: unset; height: unset; }
    
    
  }
